<div
  class="modal fade"
  id="write-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="write-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content modal-content-custom">
      <div class="modal-header modal-header-custom">
        <div class="title-container">
          <div class="title">Writing User Note</div>
          <div class="subtitle">Say something!</div>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="modal-text-color" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-container ic1">
            <select class="input" name="Category">
              <option value="Question"> Question </option>
              <option value="Requirement"> Requirement </option>
              <option value="Bug"> Bug </option>
              <option value="Bug"> ETC </option>
            </select>
            <div class="cut"></div>
            <label for="module" class="placeholder">Category</label>
        </div>
        <div class="input-container ic2">
          <input id="user-note-summary" class="input" type="text" placeholder=" "
          onfocus="this.placeholder='This is summary'" onblur="this.placeholder=' '" autocomplete="off"/>
          <div class="cut"></div>
          <label for="user-note-summary" class="placeholder">Summary</label>
        </div>
        <div class="textarea-container-lg ic2">
          <textarea id="user-note-content" class="input" type="text" placeholder=" "
            onfocus="this.placeholder='This is content'" onblur="this.placeholder=' '" autocomplete="off"></textarea>
          <div class="cut" style="width: 96px;"></div>
          <label for="user-note-content" class="placeholder">Content</label>
        </div>
      </div>
      <div class="modal-footer modal-footer-custom">
        <button
          type="button"
          class="btn btn-secondary modal-text-color"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary modal-text-color">Add</button>
      </div>
    </div>
  </div>
</div>
