{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/header-layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/content-layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
  <link rel="stylesheet" href="{% static 'css/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
  <link rel="stylesheet" href="{% static 'css/badge.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/score-board.css' %}">
  <link rel="stylesheet" href="{% static 'css/user-button.css' %}">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">

  <link rel="stylesheet" href="{% static 'css/modal/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal/upload-button.css' %}">
{% endblock %}

{% block header %}
  {% include "dashboard/header.html" %}
  {% include "dashboard/modal/create-modal.html" %}
{% endblock %}
  
{% block content %}
  <script src="{% static 'js/modal-control.js' %}"></script>
  {% include "dashboard/content.html" %}
  {% include "dashboard/modal/schedule-modal.html" %}
  {% include "dashboard/modal/register-modal.html" %}
  {% include "dashboard/modal/epk-modal.html" %}
  {% include "dashboard/modal/test-info-modal.html" %}content
  {% include "dashboard/modal/log-modal.html" %}
  {% include "dashboard/modal/remove-modal.html" %}
  {% include "dashboard/modal/start-modal.html" %}
  {% include "dashboard/modal/remove-modal.html" %}
  {% include "dashboard/modal/done-modal.html" %}
  {% include "dashboard/modal/commit-modal.html" %}
  {% include "dashboard/modal/notice-modal.html" %}
{% endblock %}

{% block footer %}
  {% include "dashboard/footer.html" %}
{% endblock %}
