{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
  <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
  <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block header %}
  {% include "dashboard/header.html" %}
{% endblock %}

{% block content %}
  {% include "dashboard/content.html" %}
{% endblock %}

{% block footer %}
  {% include "dashboard/footer.html" %}
  <script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}


