{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/content-layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
  <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/traffic.css' %}">
  <link rel="stylesheet" href="{% static 'css/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
  <link rel="stylesheet" href="{% static 'css/tag.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/score-board.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal/modify_sidebar.css' %}">
{% endblock %}

{% block header %}
  {% include "dashboard/header.html" %}
{% endblock %}
  
{% block content %}
  {% include "dashboard/content.html" %}
  <script src="{% static 'js/traffic.js' %}"></script>
{% endblock %}

{% block footer %}
  {% include "dashboard/footer.html" %}
{% endblock %}


