{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal/form.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    {% include "schedule/timeline.html" %}
    {% include "schedule/member-sequence.html" %}
    {% include "schedule/modal/delay-modal.html" %}
{% endblock %}

{% block footer %}
{% endblock %}
