@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

.sidebar-menu {
  width: 100%;
  min-height: 100%;
  background-color: var(--sidebar);
  z-index: 9999;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.sidebar-header {
  display : flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.sidebar-body {
  width: 100%;
  height: calc(100vh - 160px);
  margin: 0 auto;
}

.sidebar-footer {
  display : flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar-body li{
  font-size: 13px;
  list-style: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
}

.sidebar-body .active {
  background-color: var(--sidebar-active-link);
}

.sidebar-body li:active {
  background-color: var(--sidebar-active-link);
}

.sidebar-body li:hover{
  border-right: 3px solid rgb(195, 52, 52);
  background-color: var(--sidebar-hover-link);
}

.sidebar-body li span{
  margin-left: 10px;
}
.sidebar-body a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-body a:hover {
  text-decoration: none;
}

input[type="checkbox"]:checked ~ .sidebar-menu {
  transform: translateX(0);
}

.develop-team {
  font-size: 12px;
  color: #fff;
}

.project-name {
  font-size: 1.3em;
  color: #fff;
  padding: 12px;
  display: inline-block;
}

.project-version {
  font-size: 0.6em;
  color: rgb(210, 210, 210);
  display: inline-block;
}