.badge{
	padding: 9px 10px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.badge.primary{
	background: #2F4058;
	color: whitesmoke;
}

.badge.secondary{
	background: #242933;
	color: #777;
}

.badge.warning{
	background:#FEB904;
	color: whitesmoke;
}
.badge.danger{
	background: #DA605B;
	/* background: #CD201F; */
	color: whitesmoke;
}

.badge.info{
	background: #5FD6D4;
	color: whitesmoke;
}