.card {
  min-width: 320px;
  height: 400px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 20px 20px;
  background-color: #232427;
}

.card-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  transition: ease all 1s;
  backface-visibility: hidden;
}

.card-box.front{
  transform: rotateY(0deg);
  cursor: pointer;
}

.card-box.back{
  transform: rotateY(180deg);
  cursor: pointer;
}

.card:hover {
  animation-name: select;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes select {
  from {
    background-color: #313131;
  }
  to {
    background-color: #232427;
  }
}

.card:hover .card-box.front{
  transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .card-box.back{
  transform: rotateX(0deg) rotateY(0deg);
}

.card-information {
  position: static;
  height: 45%;
  text-align: right;
  margin-right: 10px;
  margin-left: 5px;
}

.card-status {
  position: static;
  height: 55%;
}

.start-date {
  display: inline-block;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
}

.start-time {
  display: inline-block;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

.branch {
  font-size: 2rem;
  color: #fff;
  height: 50%;
  line-height: 110%;
}

.assignee {
  position: relative;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  bottom: 0px;
}

.card-status:before {
  position: absolute;
  content: "";
  margin-top: 220px;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.card-status:after {
  position: absolute;
  content: "";
  margin-top: 220px;
  top: 5px;
  left: 5px;
  right: 20px;
  bottom: 5px;
  background-image: url("../image/road.png");
  background-size: cover;
  z-index: -1;
  opacity: 0.15;
}