.header-container {
    position: relative;
    display: flex;
    max-height: 60px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    justify-content: flex-end;
    background-color: var(--table-header);
}

.search-container {
    position: relative;
    width: 35%;
    height: 60px;
}

.user-container {
    width: 25%;
    height: 60px;
}

.information-container {
    width: 40%;
    height: 60px;
}
