  
  .menu {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 30px;
    background: #000;
    border-radius: 100%;
    cursor: pointer;
    z-index: 9999;
  }
  .menu::before, .menu::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
  }
  .menu::before {
    transform: rotate(0deg);
  }
  .menu::after {
    transform: rotate(-90deg);
  }
  .menu.open {
    opacity: 0.9;
  }
  .menu.open::before {
    transform: rotate(45deg);
  }
  .menu.open::after {
    transform: rotate(-45deg);
  }
  .menu.open .menu-button {
    opacity: 1;
    pointer-events: auto;
  }
  .menu.open .menu-button:first-of-type {
    top: 30px;
    right: 70px;
    background: url("https://bassets.github.io/cam.svg") no-repeat 50%/50% #000;
  }
  .menu.open .menu-button:nth-of-type(2) {
    top: 80px;
    background: url("https://bassets.github.io/img.svg") no-repeat 50%/50% #000;
    transition-delay: 0.05s;
  }
  /* .menu.open .menu-button:last-of-type {
    top: 40px;
    right: -70px;
    background: url("https://bassets.github.io/music.svg") no-repeat 50% 45%/50% 45% #e8e8f3;
    transition-delay: 0.1s;
  } */
  
  .menu-button {
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  }
  .menu-button:hover {
    transform: scale(1.1);
  }