.progress-container {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.progressbar {
  position: relative;
    display: inline-block;
    height: 10px;
    left: 10px;
    width: 85%;
    background: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 4px;
    overflow: hidden;
}

.progressbar:before {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: progress 5s infinite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.bus-container {
  position: relative;
  display: inline-block;
  width: 85%;
  left: 10px;
  bottom: -5px;
  margin: 0;
  padding: 0;
  border: 0;
}
.bus-move {
  animation: moving 5s infinite;
  font-size: 25px;
  color: #fff;
}

@keyframes moving {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(40px);
    }

    50% {
        transform: translateX(100px)
    }

    75% {
        transform: translateX(160px);
    }

    100% {
        transform: translateX(215px);
    }
}

@keyframes progress {
    0% {
        width: 0;
        background: #a28089;
    }

    25% {
        width: 25%;
        background: #a0d2eb;
    }

    50% {
        width: 50%;
        background: #ffa8b6;
    }

    75% {
        width: 75%;
        background: #d0bdf4;
    }

    100% {
        width: 100%;
        background: #bff4bd;
    }
}