.table-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
}

.table-view .table-header {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--app-content-secondary-color);
  position: sticky;
  top: 0;
}
.table-view .table-row {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.table-view .table-row:hover {
  box-shadow: var(--filter-shadow);
  background-color: var(--app-content-secondary-color);
}
.table-view .table-row .cell-more-button {
  display: none;
}
.table-view .table-cell {
  flex: 1;
  padding: 8px 16px;
  color: var(--app-content-main-color);
  font-size: 14px;
  /* display: flex; */
  align-items: center;
}

.table-view .table-cell.no-flex {
  flex: none;
}

.table-view .table-cell.module {
  width: 25%;
}

.table-view .table-cell.tag {
  width: 35%;
}

.table-view .table-cell.unittest {
  width: 13%;
}
.table-view .table-cell.lld
{
  width: 7%;
}
.table-view .table-cell.register
{
  width: 10%;
}
.table-view .table-cell.options 
{
  width: 10%;
}

.table-view .table-cell.url 
{
  width: 80%;
}

.tbale-cell.text-center {
  text-align: center;
}

.table-sub-text {
  font-size: 6px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 780px) {
  .table-view .table-cell {
    font-size: 12px;
  }
  .table-view .table-cell.chip, .table-view .table-cell.module span {
    display: none;
  }
  .table-view .table-cell.chip, .table-view .table-cell.module {
    flex: 0.2;
  }
}
@media screen and (max-width: 520px) {
  .table-view .table-cell.region,
  .table-view .table-cell.tag,
  .table-view .table-cell.type {
    display: none;
  }
  .table-view .table-cell.status-cell {
    flex: 0.4;
  }
  .table-view .table-cell.package, .table-view .table-cell.download {
    flex: 0.2;
  }
}
@media screen and (max-width: 480px) {
  .table-view .table-cell.package {
    display: none;
  }
  .table-view .table-cell.download {
    flex: 0.4;
  }
}
.table-view .sort-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--app-content-main-color);
  margin-left: 4px;
  display: flex;
  align-items: center;
}
.table-view .sort-button:hover {
  color: var(--action-color);
}
.table-view .sort-button svg {
  width: 12px;
}
.table-view .cell-label {
  display: none;
}

.status {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;
}
.status:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
}
.status.pass {
  color: #2ba972;
  background-color: rgba(43, 169, 114, 0.2);
}
.status.pass:before {
  background-color: #2ba972;
}

.status.fail {
  color: #DA605B;
  background-color: rgba(218, 96, 91, 0.2);
}
.status.fail:before {
  background-color: #DA605B;
}

.status.inprogress {
  color: #3498db;
  background-color: rgba(52, 152, 219, 0.2);
}
.status.inprogress:before {
  background-color: #3498db;
}

.status.disabled {
  color: #59719d;
  background-color: rgba(89, 113, 157, 0.2);
}
.status.disabled:before {
  background-color: #59719d;
}

.table-no-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
}
.table-no-scrollbar::-webkit-scrollbar {
  display: none;
}

.table-small-view {
  max-height: 50vh;
}