.table-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
}

.table-view .table-header {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--app-content-secondary-color);
  position: sticky;
  top: 0;
}
.table-view .table-row {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.table-view .table-row.active {
  background-color: var(--app-content-secondary-color);
}

.table-view .table-row.pointer {
  cursor: pointer;
}

.table-view .table-row:hover {
  box-shadow: var(--filter-shadow);
  background-color: var(--app-content-secondary-color);
}
.table-view .table-row .cell-more-button {
  display: none;
}
.table-view .table-cell {
  flex: 1;
  padding: 8px 16px;
  color: var(--app-content-main-color);
  font-size: 14px;
  /* display: flex; */
  align-items: center;
}

.table-view .table-cell.no-flex {
  flex: none;
}

.table-view .table-cell.module-cell {
  width: 25%;
}

.table-view .table-cell.reason-cell {
  width: 28%;
}
.table-view .table-cell.tag-cell,
.table-view .table-cell.patch-cell
{
  width: 35%;
}

.table-view .table-cell.branch-name-cell {
  width: 30%;
}
.table-view .table-cell.small-department-cell,
.table-view .table-cell.branch-platform-cell {
  width: 20%;
}
.table-view .table-cell.branch-info-cell {
  width: 50%;
}
.table-view .table-cell.delay-cell,
.table-view .table-cell.unittest-cell,
.table-view .table-cell.branch-cell,
.table-view .table-cell.chip-cell
{
  width: 13%;
}

.table-view .table-cell.number-cell {
  width: 4%;
}

.table-view .table-cell.count-cell,
.table-view .table-cell.lld-cell,
.table-view .table-cell.prod-cell
{
  width: 7%;
}

.table-view .table-cell.latest-cell,
.table-view .table-cell.register-cell,
.table-view .table-cell.options-cell,
.table-view .table-cell.common-cell,
.table-view .table-cell.action-cell,
.table-view .table-cell.content-cell
{
  width: 10%;
}
.table-view .table-cell.department-cell {
  width: 70%;
}
.table-view .table-cell.full-name-cell,
.table-view .table-cell.member-cell,
.table-view .table-cell.creater-cell,
.table-view .table-cell.status-cell
{
  width: 18%;
}

.table-view .table-cell.platform-cell {
  width: 20%;
}

.table-view .table-cell.date-cell,
.table-view .table-cell.binary-cell,
.table-view .table-cell.version-cell {
  width: 15%;
}
.table-view .table-cell.manual-cell {
  width: 60%;
}
.table-view .table-cell.url-cell,
.table-view .table-cell.tvpm-cell
{
  width: 80%;
}

.tbale-cell.text-center {
  text-align: center;
}

.table-sub-text {
  font-size: 6px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 780px) {
  .table-view .table-cell {
    font-size: 12px;
  }
  .table-view .table-cell.chip, .table-view .table-cell.module span {
    display: none;
  }
  .table-view .table-cell.chip, .table-view .table-cell.module {
    flex: 0.2;
  }
}
@media screen and (max-width: 520px) {
  .table-view .table-cell.region,
  .table-view .table-cell.tag,
  .table-view .table-cell.type {
    display: none;
  }
  .table-view .table-cell.status-cell {
    flex: 0.4;
  }
  .table-view .table-cell.package, .table-view .table-cell.download {
    flex: 0.2;
  }
}
@media screen and (max-width: 480px) {
  .table-view .table-cell.package {
    display: none;
  }
  .table-view .table-cell.download {
    flex: 0.4;
  }
}
.table-view .sort-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--app-content-main-color);
  margin-left: 4px;
  display: flex;
  align-items: center;
}
.table-view .sort-button:hover {
  color: var(--action-color);
}
.table-view .sort-button svg {
  width: 12px;
}
.table-view .cell-label {
  display: none;
}

.status {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;
}
.status:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
}
.status.pass {
  color: #2ba972;
  background-color: rgba(43, 169, 114, 0.2);
}
.status.pass:before {
  background-color: #2ba972;
}

.status.ready {
  color: #f7ce65;
  background-color: rgba(247, 206, 101, 0.2);
}
.status.ready:before {
  background-color: #f7ce65;
}

.status.fail {
  color: #DA605B;
  background-color: rgba(218, 96, 91, 0.2);
}
.status.fail:before {
  background-color: #DA605B;
}

.status.inprogress {
  color: #3498db;
  background-color: rgba(52, 152, 219, 0.2);
}
.status.inprogress:before {
  background-color: #3498db;
}

.status.disabled {
  color: #59719d;
  background-color: rgba(89, 113, 157, 0.2);
}
.status.disabled:before {
  background-color: #59719d;
}

.table-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-no-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
}
.table-no-scrollbar::-webkit-scrollbar {
  display: none;
}

.table-ssmall-view {
  max-height: 20vh;
}

.table-small-view {
  max-height: 30vh;
}

.table-middle-view {
  max-height: 50vh;
}

.table-large-view {
  max-height: calc(90vh - 72px);
}