.traffic {
  display: flex;
  width: 100px;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background-color: #313232;
  position: relative;
  left: 138px;
  bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.traffic-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}
.traffic-circle:after {
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
}

.traffic-circle.red {
  background-color: #c0392b;
  box-shadow: 0 0 20px 5px #c0392b;
  animation-name: twinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.traffic-circle.yellow {
  background-color: #f1c40f;
  box-shadow: 0 0 20px 5px #f1c40f;
  animation-name: twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.traffic-circle.green {
  background-color: #2ecc71;
  box-shadow: 0 0 20px 5px #2ecc71;
  animation-name: twinkle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.traffic-bar {
    position: absolute;
    border: 10px solid #747678;
    border-radius: 10px 10px 10px 10px;
    width: 60px;
    height: 120px;
    right: 15px;
    bottom: 10px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    z-index: -1;
    box-shadow: rgba(136, 165, 191, 0.48) 4px 1px 3px 0px;
}

@keyframes twinkle {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1.0;
  }
}