.traffic {
  position: absolute;
  display: flex;
  width: 100px;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background-color: #313232;
  right: 20px;
  bottom: 85px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.traffic-circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}
.traffic-circle:after {
  position: absolute;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
  width: 8px;
  height: 8px;
  left: 8px;
  top: 6px;
}

.traffic-circle.red {
  background-color: #c0392b;
  box-shadow: 0 0 30px 2px #c0392b;
}
.traffic-circle.yellow {
  background-color: #f1c40f;
  box-shadow: 0 0 30px 2px #f1c40f;
}
.traffic-circle.green {
  background-color: #2ecc71;
  box-shadow: 0 0 30px 2px #2ecc71;
}

.traffic-bar {
  position: absolute;
  width: 13px;
  height: 120px;
  right: 13px;
  bottom: 10px;
  background-color:  #747678;
  border-radius: 50px / 37.5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}