{% load static %}
<div class="modal-branch-list" style="margin-top: 5px;">
    <!-- <div class="modal-large-text modal-empty"> No Information</div> -->
    <div id="branch-list">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex branch-name-cell">Branch</div>
                <div class="table-cell no-flex branch-platform-cell">Platform</div>
                <div class="table-cell no-flex branch-info-cell">Info</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@webos4tv</div>
                <div class="table-cell no-flex branch-platform-cell">master</div>
                <div class="table-cell no-flex branch-info-cell">Develop Master Branch</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@nbr4tv</div>
                <div class="table-cell no-flex branch-platform-cell">webOS23</div>
                <div class="table-cell no-flex branch-info-cell">webOS23 Develop Branch</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@naejangsan</div>
                <div class="table-cell no-flex branch-platform-cell">webOS23</div>
                <div class="table-cell no-flex branch-info-cell">webOS23 Initial Product/Release</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@nairobi</div>
                <div class="table-cell no-flex branch-platform-cell">webOS23</div>
                <div class="table-cell no-flex branch-info-cell">webOS23 MR1 Product/Replease</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@mlt4tv</div>
                <div class="table-cell no-flex branch-platform-cell">webOS22</div>
                <div class="table-cell no-flex branch-info-cell">webOS22 Develop Branch</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@manas</div>
                <div class="table-cell no-flex branch-platform-cell">webOS22</div>
                <div class="table-cell no-flex branch-info-cell">webOS22 Intial Product/Release</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@maria</div>
                <div class="table-cell no-flex branch-platform-cell">webOS22</div>
                <div class="table-cell no-flex branch-info-cell">webOS22 MR1 Product/Release</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@maria.wee</div>
                <div class="table-cell no-flex branch-platform-cell">webOS22</div>
                <div class="table-cell no-flex branch-info-cell">webOS22 WEE 2.0 Product/Release</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@marine</div>
                <div class="table-cell no-flex branch-platform-cell">webOS22</div>
                <div class="table-cell no-flex branch-info-cell">webOS22 MR5 Product/Release</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@22.maria.wee</div>
                <div class="table-cell no-flex branch-platform-cell">webOS22</div>
                <div class="table-cell no-flex branch-info-cell">webOS22 WEE 2.0 Smart Screen Product/Release</div>
            </div>
            <div class="table-row pointer" onclick="UpdateBranch(this)">
                <div class="table-cell no-flex branch-name-cell">@mebbin</div>
                <div class="table-cell no-flex branch-platform-cell">webOS22</div>
                <div class="table-cell no-flex branch-info-cell">webOS22 MR3 Product/Release</div>
            </div>
        </div>
    </div>
</div>