<div class="table-area-wrapper table-view table-middle-view table-no-scrollbar">
    <div class="table-header">
        <div class="table-cell date-cell">Date</div>
        <div class="table-cell branch-cell">Branch</div>
        <div class="table-cell creater-cell">Creater</div>
    </div>
    <div class="table-row">
        <div class="table-cell date-cell"><span>2022.12.22 09:00AM</span></div>
        <div class="table-cell branch-cell">@webos4tv</div>
        <div class="table-cell creater-cell">홍길동 선임연구원</div>
    </div>

    <div class="table-header" style="margin-top: 20px;">
        <div class="table-cell status-cell">Status</div>
        <div class="table-cell page-status-cell">Gerrit</div>
        <div class="table-cell page-status-cell">Jira</div>
        
    </div>
    <div class="table-row">
        <div class="table-cell status-cell">
            <span class="status ready">Ready</span>
        </div>
        <div class="table-cell page-status-cell">
            <span class="status disabled">Not Created</span>
        </div>
        <div class="table-cell page-status-cell">
            <span class="status disabled">Static Analysis</span>
        </div>
    </div>

    <div class="table-header" style="margin-top: 20px;">
        <div class="table-cell comp-cell">Component</div>
        <div class="table-cell epk-cell">EPK</div>
        <div class="table-cell test-cell">Test</div>
    </div>
    <div class="table-row">
        <div class="table-cell comp-cell">5</div>
        <div class="table-cell epk-cell">78</div>
        <div class="table-cell test-cell">15</div>
    </div>
</div>