<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="create-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-custom" style="flex-direction: row;">
            <div class="modal-sidebar" style="width: 180px;">
                {% include "dashboard/modal/create-sidebar.html" %}
            </div>
            <div class="modal-main small-height" id="create-modal-main">
                {% include "dashboard/modal/auto-create.html" %}
            </div>
        </div>
    </div>
</div>