<div class="table-area-wrapper table-view table-small-view table-no-scrollbar">
  <div class="table-header">
    <div class="table-cell chip">Chip</div>
    <div class="table-cell region">Region</div>
    <div class="table-cell type">Type</div>
    <div class="table-cell download">Download</div>
    <div class="table-cell package">Install Package</div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>k8hpp</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>lm21un</span></div>
    <div class="table-cell region">arib</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
  <div class="table-row">
    <div class="table-cell chip"><span>o22n8k</span></div>
    <div class="table-cell region">global</div>
    <div class="table-cell type">flash-tas</div>
    <div class="table-cell download"><i class="fas fa-file-download"></i></div>
    <div class="table-cell package"><i class="fas fa-link"></i></div>
  </div>
</div>