<div class="table-middle-view table-scrollbar" style="min-height:54vh;">
    <div class="subtitle">CABS Log #1</div>
    <div class="subtitle">CABS Log #2</div>
    <div class="subtitle">CABS Log #3</div>
    <div class="subtitle">CABS Log #4</div>
    <div class="subtitle">CABS Log #5</div>
    <div class="subtitle">CABS Log #6</div>
    <div class="subtitle">CABS Log #7</div>
    <div class="subtitle">CABS Log #8</div>
    <div class="subtitle">CABS Log #9</div>
    <div class="subtitle">CABS Log #10</div>
    <div class="subtitle">CABS Log #11</div>
    <div class="subtitle">CABS Log #12</div>
    <div class="subtitle">CABS Log #13</div>
    <div class="subtitle">CABS Log #14</div>
    <div class="subtitle">CABS Log #15</div>
    <div class="subtitle">CABS Log #16</div>
    <div class="subtitle">CABS Log #17</div>
    <div class="subtitle">CABS Log #18</div>
    <div class="subtitle">CABS Log #1</div>
    <div class="subtitle">CABS Log #2</div>
    <div class="subtitle">CABS Log #3</div>
    <div class="subtitle">CABS Log #4</div>
    <div class="subtitle">CABS Log #5</div>
    <div class="subtitle">CABS Log #6</div>
    <div class="subtitle">CABS Log #7</div>
    <div class="subtitle">CABS Log #8</div>
    <div class="subtitle">CABS Log #9</div>
    <div class="subtitle">CABS Log #10</div>
    <div class="subtitle">CABS Log #11</div>
    <div class="subtitle">CABS Log #12</div>
    <div class="subtitle">CABS Log #13</div>
    <div class="subtitle">CABS Log #14</div>
    <div class="subtitle">CABS Log #15</div>
    <div class="subtitle">CABS Log #16</div>
    <div class="subtitle">CABS Log #17</div>
    <div class="subtitle">CABS Log #18</div>
    <div class="subtitle">CABS Log #1</div>
    <div class="subtitle">CABS Log #2</div>
    <div class="subtitle">CABS Log #3</div>
    <div class="subtitle">CABS Log #4</div>
    <div class="subtitle">CABS Log #5</div>
    <div class="subtitle">CABS Log #6</div>
    <div class="subtitle">CABS Log #7</div>
    <div class="subtitle">CABS Log #8</div>
    <div class="subtitle">CABS Log #9</div>
    <div class="subtitle">CABS Log #10</div>
    <div class="subtitle">CABS Log #11</div>
    <div class="subtitle">CABS Log #12</div>
    <div class="subtitle">CABS Log #13</div>
    <div class="subtitle">CABS Log #14</div>
    <div class="subtitle">CABS Log #15</div>
    <div class="subtitle">CABS Log #16</div>
    <div class="subtitle">CABS Log #17</div>
    <div class="subtitle">CABS Log #18</div>
    <div class="subtitle">CABS Log #1</div>
    <div class="subtitle">CABS Log #2</div>
    <div class="subtitle">CABS Log #3</div>
    <div class="subtitle">CABS Log #4</div>
    <div class="subtitle">CABS Log #5</div>
    <div class="subtitle">CABS Log #6</div>
    <div class="subtitle">CABS Log #7</div>
    <div class="subtitle">CABS Log #8</div>
    <div class="subtitle">CABS Log #9</div>
    <div class="subtitle">CABS Log #10</div>
    <div class="subtitle">CABS Log #11</div>
    <div class="subtitle">CABS Log #12</div>
    <div class="subtitle">CABS Log #13</div>
    <div class="subtitle">CABS Log #14</div>
    <div class="subtitle">CABS Log #15</div>
    <div class="subtitle">CABS Log #16</div>
    <div class="subtitle">CABS Log #17</div>
    <div class="subtitle">CABS Log #18</div>
</div>