<div class="modal-header modal-header-custom">
    <div class="title-container">
        <div class="title">Create</div>
        <div class="subtitle">Manual create CCC</div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="modal-text-color" aria-hidden="true">&times;</span>
    </button>
</div>

<form action="#" method="POST">
    <div class="modal-body fix-body-small-height">
        <div class="input-container ic1">
            <select class="input" name="result">
                <option value="complete"> Complete</option>
                <option value="drop"> Drop </option>
            </select>
            <div class="cut"></div>
            <label for="module" class="placeholder">Result</label>
        </div>
        <div class="input-container ic2">
            <input id="manual-create-date" class="input" type="date" placeholder=" " value="" />
            <div class="cut"></div>
            <label for="manual-create-date" class="placeholder">Date</label>
        </div>
        <div class="input-container ic2">
            <input id="manual-create-branch" class="input" type="text" placeholder=" "
            onfocus="this.placeholder='@webos4tv'" onblur="this.placeholder=' '" autocomplete="off"/>
            <div class="cut"></div>
            <label for="manual-create-branch" class="placeholder">Branch</label>
        </div>
        <div class="input-container ic2">
            <input id="manual-create-gerrit" class="input" type="text" placeholder=" "
            onfocus="this.placeholder='https://wall.lge.com/c/webos-pro/meta-lg-webos/+/346904'"
            onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="manual-create-gerrit" class="placeholder">Gerrit</label>
        </div>
        <div class="input-container ic2">
            <input id="manual-create-jira" class="input" type="text" placeholder=" "
            onfocus="this.placeholder='http://hlm.lge.com/issue/browse/WEBOS4TV-72'"
            onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="manual-create-jira" class="placeholder">Jira</label>
        </div>
    </div>
    <div class="modal-footer modal-footer-custom">
        <button type="button" class="btn btn-secondary modal-text-color" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary modal-text-color">Create</button>
    </div>
</form>