<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal modal-dialog-centered" role="document">
    <div class="modal-content modal-color">
      <div class="modal-header">
        <h5 class="modal-title modal-text-color" id="exampleModalLongTitle">빌드 일정 변경</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>111111</h1>
        <h1>111111</h1>
        <h1>111111</h1>
        <h1>111111</h1>
        <h1>111111</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-text-color" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-text-color">Save changes</button>
      </div>
    </div>
  </div>
</div>z