<div class="modal-register-list">
    <div class="subtitle"> To </div>
    <div class="table-area-wrapper table-view table-small-view table-no-scrollbar">
        <div class="table-header">
            <div class="table-cell no-flex department-cell">Department</div>
            <div class="table-cell no-flex member-cell">Member</div>
            <div class="table-cell no-flex options-cell text-center">Option</div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
    </div>

    <div class="subtitle"> CC </div>
    <div class="table-area-wrapper table-view table-ssmall-view table-no-scrollbar">
        <div class="table-header">
            <div class="table-cell no-flex department-cell">Department</div>
            <div class="table-cell no-flex member-cell">Member</div>
            <div class="table-cell no-flex options-cell text-center">Option</div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell no-flex department-cell">TV Broadcast Solution</div>
            <div class="table-cell no-flex member-cell">최민재 연구원</div>
            <div class="table-cell no-flex options-cell text-center">
                <i class="far fa-trash-alt"></i>
            </div>
        </div>
    </div>
</div>