<div class="modal-header modal-header-custom">
    <div class="title-container">
        <div class="title">Module</div>
        <div class="subtitle">Regist the module for CCC</div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="modal-text-color" aria-hidden="true">&times;</span>
    </button>
</div>
<form action="{% url 'CCC:register' %}" method="POST">
    {% csrf_token %}
    <div class="modal-body fix-body-height">
        <div class="input-container ic1">
            <select class="input" name="Repository">
                <option value="meta-lg-webos"> meta-lg-webos</option>
                <option value="meta-lg-webos-tv"> meta-lg-webos-tv </option>

            </select>
            <div class="cut"></div>
            <label for="module" class="placeholder">Repository</label>
        </div>
        <div class="input-container ic2">
            <input id="module" class="input" type="text" placeholder=" " onfocus="this.placeholder='legacy-broadcast'"
                onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="module" class="placeholder">Module</label>
        </div>
        <div class="input-container ic2">
            <input id="tag" class="input" type="text" placeholder=" " onfocus="this.placeholder='submissions/1'"
                onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="tag" class="placeholder">Tag</label>
        </div>
        <div class="input-container ic2">
            <input id="revision" class="input" type="text" placeholder=" " onfocus="this.placeholder='r1'"
                onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="revision" class="placeholder">Revision</label>
        </div>
        <div class="input-container ic2">
            <input id="new-depends" class="input" type="text" placeholder=" " onfocus="this.placeholder='A B C'"
                onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="new-depends" class="placeholder">New Depends</label>
        </div>
        <div class="input-container ic2">
            <input id="remove-depends" class="input" type="text" placeholder=" " onfocus="this.placeholder='A B C'"
                onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="remove-depends" class="placeholder">Remove Depends</label>
        </div>
        <div class="input-container ic2">
            <input id="lld" class="input" type="text" placeholder=" "
                onfocus="this.placeholder='http://collab.lge.com/main/pages/viewpage.action?pageId=1332396171'"
                onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="lld" class="placeholder">LLD</label>
        </div>
        <div class="input-container ic2">
            <input id="unittest" class="input" type="text" placeholder=" "
                onfocus="this.placeholder='https://cerberus.lge.com/jenkins/job/z_engineering/job/Run%20Unit%20Test/11688/'"
                onblur="this.placeholder=' '" autocomplete="off" />
            <div class="cut"></div>
            <label for="unittest" class="placeholder">Unit Test</label>
        </div>
    </div>
    <div class="modal-footer modal-footer-custom">
        <button type="button" class="btn btn-secondary modal-text-color" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary modal-text-color">Add</button>
    </div>
</form>