{% load static %}
<div class="modal-register-list">
    <!-- <div class="modal-large-text modal-empty"> No Information</div> -->
    <div class="table-register-list">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex module-cell">Module</div>
                <div class="table-cell no-flex tag-cell">Tag & Rev</div>
                <div class="table-cell no-flex unittest-cell text-center">Unit Test</div>
                <div class="table-cell no-flex lld-cell text-center">LLD</div>
                <div class="table-cell no-flex register-cell">Register</div>
                <div class="table-cell no-flex options-cell text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex module-cell">tv-reservation-agent</div>
                <div class="table-cell no-flex tag-cell">
                    submissions/137
                    <div class="table-sub-text">
                        a1e0b541147b654d112e96b5d682dff77e6092c5
                    </div>
                    <div class="table-sub-text">
                        revision : r1 / depends : + a b c - a b c
                    </div>
                </div>
                <div class="table-cell no-flex unittest-cell text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex lld-cell text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex binary-cell">Binary</div>
                <div class="table-cell no-flex chip-cell">Chip</div>
                <div class="table-cell no-flex platform-cell">Platform</div>
                <div class="table-cell no-flex version-cell">Verison</div>
                <div class="table-cell no-flex common-cell text-center">Common</div>
                <div class="table-cell no-flex prod-cell text-center">Prod</div>
                <div class="table-cell no-flex register-cell">Register</div>
                <div class="table-cell no-flex options-cell text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex binary-cell">sedata</div>
                <div class="table-cell no-flex chip-cell">o22n</div>
                <div class="table-cell no-flex platform-cell">starfish-mullet</div>
                <div class="table-cell no-flex version-cell">8.1.45-45</div>
                <div class="table-cell no-flex common-cell text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex prod-cell text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex binary-cell">sedata</div>
                <div class="table-cell no-flex chip-cell">o22n8k</div>
                <div class="table-cell no-flex platform-cell">starfish-mullet</div>
                <div class="table-cell no-flex version-cell">8.1.47-47</div>
                <div class="table-cell no-flex common-cell text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex prod-cell text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex url-cell">URL</div>
                <div class="table-cell no-flex register-cell">Register</div>
                <div class="table-cell no-flex options-cell text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url-cell">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url-cell">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url-cell">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex manual-cell">Manual</div>
                <div class="table-cell no-flex action-cell">Action</div>
                <div class="table-cell no-flex content-cell">Content</div>
                <div class="table-cell no-flex register-cell">Register</div>
                <div class="table-cell no-flex options-cell text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex manual-cell">./meta-starfish/recipes-starfish/starfish-initscripts/starfish-initscripts.bb</div>
                <div class="table-cell no-flex action-cell">New</div>
                <div class="table-cell no-flex content-cell text-center"><i class="fa-regular fa-file-lines"></i></div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex manual-cell">./meta-starfish/recipes-starfish/starfish-initscripts/starfish-initscripts/instop-removelist</div>
                <div class="table-cell no-flex action-cell">Delete</div>
                <div class="table-cell no-flex content-cell text-center"><i class="fa-regular fa-file-lines"></i></div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex patch-cell">Patch</div>
                <div class="table-cell no-flex module-cell">Module</div>
                <div class="table-cell no-flex action-cell">Action</div>
                <div class="table-cell no-flex content-cell">Content</div>
                <div class="table-cell no-flex register-cell">Register</div>
                <div class="table-cell no-flex options-cell text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex patch-cell">0001-Fix-build-with-boost-1.73.0.patch</div>
                <div class="table-cell no-flex module-cell">legacy-broadcast</div>
                <div class="table-cell no-flex action-cell">New</div>
                <div class="table-cell no-flex content-cell text-center"><i class="fa-regular fa-file-lines"></i></div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex patch-cell">0001-Fix-build-with-boost-1.73.0.patch</div>
                <div class="table-cell no-flex module-cell">legacy-broadcast</div>
                <div class="table-cell no-flex action-cell">Delete</div>
                <div class="table-cell no-flex content-cell text-center"><i class="fa-regular fa-file-lines"></i></div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex tvpm-cell">TVPM</div>
                <div class="table-cell no-flex register-cell">Register</div>
                <div class="table-cell no-flex options-cell text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex tvpm-cell">TVPM-123456</div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex tvpm-cell">http://hlm.lge.com/issue/browse/TVPM-18977</div>
                <div class="table-cell no-flex register-cell">홍길동</div>
                <div class="table-cell no-flex options-cell text-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>