{% load static %}

<div class="modal-register-list">
    <!-- <div class="modal-large-text modal-empty"> No Information</div> -->

    <div class="table-register-list">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex module">Module</div>
                <div class="table-cell no-flex tag">Tag & Rev</div>
                <div class="table-cell no-flex unittest text-center">Unit Test</div>
                <div class="table-cell no-flex lld text-center">LLD</div>
                <div class="table-cell no-flex register">Register</div>
                <div class="table-cell no-flex options text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex module">tv-reservation-agent</div>
                <div class="table-cell no-flex tag">
                    submissions/137
                    <div class="table-sub-text">
                        a1e0b541147b654d112e96b5d682dff77e6092c5
                    </div>
                    <div class="table-sub-text">
                        revision : r1 / depends : + a b c - a b c
                    </div>
                </div>
                <div class="table-cell no-flex unittest text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex lld text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex module">tv-reservation-agent</div>
                <div class="table-cell no-flex tag">
                    submissions/137
                    <div class="table-sub-text">
                        a1e0b541147b654d112e96b5d682dff77e6092c5
                    </div>
                    <div class="table-sub-text">
                        revision : r1 / depends : + a b c - a b c
                    </div>
                </div>
                <div class="table-cell no-flex unittest text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex lld text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex module">tv-reservation-agent</div>
                <div class="table-cell no-flex tag">
                    submissions/137
                    <div class="table-sub-text">
                        a1e0b541147b654d112e96b5d682dff77e6092c5
                    </div>
                    <div class="table-sub-text">
                        revision : r1 / depends : + a b c - a b c
                    </div>
                </div>
                <div class="table-cell no-flex unittest text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex lld text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex module">tv-reservation-agent</div>
                <div class="table-cell no-flex tag">
                    submissions/137
                    <div class="table-sub-text">
                        a1e0b541147b654d112e96b5d682dff77e6092c5
                    </div>
                    <div class="table-sub-text">
                        revision : r1 / depends : + a b c - a b c
                    </div>
                </div>
                <div class="table-cell no-flex unittest text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex lld text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex module">tv-reservation-agent</div>
                <div class="table-cell no-flex tag">
                    submissions/137
                    <div class="table-sub-text">
                        a1e0b541147b654d112e96b5d682dff77e6092c5
                    </div>
                    <div class="table-sub-text">
                        revision : r1 / depends : + a b c - a b c
                    </div>
                </div>
                <div class="table-cell no-flex unittest text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex lld text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex module">tv-reservation-agent</div>
                <div class="table-cell no-flex tag">
                    submissions/137
                    <div class="table-sub-text">
                        a1e0b541147b654d112e96b5d682dff77e6092c5
                    </div>
                </div>
                <div class="table-cell no-flex unittest text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex lld text-center"><i class="fas fa-check"></i></div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex url">Binary</div>
                <div class="table-cell no-flex register">Register</div>
                <div class="table-cell no-flex options text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex url">URL</div>
                <div class="table-cell no-flex register">Register</div>
                <div class="table-cell no-flex options text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex url">Manual</div>
                <div class="table-cell no-flex register">Register</div>
                <div class="table-cell no-flex options text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex url">Patch</div>
                <div class="table-cell no-flex register">Register</div>
                <div class="table-cell no-flex options text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-register-list" style="margin-top: 20px;">
        <div class="table-area-wrapper table-view">
            <div class="table-header">
                <div class="table-cell no-flex url">TVPM</div>
                <div class="table-cell no-flex register">Register</div>
                <div class="table-cell no-flex options text-center">Option</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex url">https://www.youtube.com/www.youtube.com/www.youtube.com</div>
                <div class="table-cell no-flex register">홍길동</div>
                <div class="table-cell no-flex options text-center">
                    <i class="far fa-trash-alt"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
        </div>
    </div>
</div>