<div id="webapp_cover">
  <div id="menu_button">
    <input type="checkbox" id="menu_checkbox">
    <label for="menu_checkbox" id="menu_label">
      <div id="menu_text_bar"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-home fa"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-laptop fa"></i>
            <span>History</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-list fa"></i>
            <span>Member Schedule</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-map-marker fa"></i>
            <span>OE-Build Schedule</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-bar-chart-o fa"></i>
            <span>Develop Notes</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-font fa"></i>
            <span>QnA</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-info fa"></i>
            <span>User Guide</span>
          </a>
        </li>
        <div class="sidebar-footer">
            <div class="created-team"> TV Broadcast Solution</div>
        </div>
      </ul>
    </div>
  </div>
</div>

