<div class="sidebar-container">
  <div class="sidebar-menu">
    <div class="sidebar-header">
      <i class="fa-solid fa-bus" style="color: white; font-size: 1.3em"></i>
      <div class="project-name"> CABS
        <div class="project-version"> v2.0.0 </div>
      </div>
    </div>
    <ul class="sidebar-body">
      <li class="active">
        <a href="{% url 'CCC:dashboard' %}">
          <i class="fa fa-laptop fa"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa-solid fa-book-open"></i>
          <span>History</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa-solid fa-users"></i>
          <span>Member Schedule</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa-solid fa-calendar-days"></i>
          <span>OE-Build Schedule</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa-regular fa-clipboard"></i>
          <span>Develop Notes</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-font fa"></i>
          <span>QnA</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-info fa"></i>
          <span>User Guide</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="develop-team">&copy; TV Broadcast Solution</div>
    </div>
  </div>
</div>