<div class="board-container">
  <div class="board-head">
    <h1 style="color: white; margin: 50px 0px 20px 30px; display: inline-block">
      History
    </h1>
    <div class="history-chunk">
      <div class="history-subtitle">A</div>
      <div class="history-module-container">
        <div class="history-module" data-toggle="modal" data-target="#detail-modal">
          <div class="module">activity-policy-mgr
          <div class="count">12</div>
        </div>
        </div>
      </div>
    </div>
    <div class="history-chunk">
      <div class="history-subtitle">L</div>
      <div class="history-module-container">
        <div class="history-module">
          <div class="module">legacy-broadcast
          <div class="count">333</div>
        </div>
        </div>
      </div>
    </div>

    <div class="history-chunk">
      <div class="history-subtitle">E</div>
      <div class="history-module-container">
        <div class="history-module">
          <div class="module">
            element-base
            <div class="count">3</div>
          </div>
        </div>
        <div class="history-module">
          <div class="module">
            element-nrt
            <div class="count">3</div>
          </div>
        </div>
      </div>
    </div>

    <div class="history-chunk">
      <div class="history-subtitle">G</div>
      <div class="history-module-container">
        <div class="history-module">
          <div class="module">
            gibb-domain
            <div class="count">3</div>
          </div>
        </div>
        <div class="history-module">
          <div class="module">
            gibb-webos-integration
            <div class="count">3</div>
          </div>
        </div>
        <div class="history-module">
            <div class="module">
              gibb-domain7
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              gibb-webos-integration6
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              gibb-domain5
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              <div class="name">gibb-webos-integration4</div>
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              gibb-domain3
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
            <div class="name">gibb-webos-integration4</div>
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              gibb-domain2
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              gibb-webos-integration2
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              gibb-domain1
              <div class="count">3</div>
            </div>
          </div>
          <div class="history-module">
            <div class="module">
              gibb-webos-integration1
              <div class="count">3</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
