<div class="modal fade" id="detail-modal" tabindex="-1" role="dialog" aria-labelledby="detail-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 1000px;">
      <div class="modal-content modal-content-custom fix-content-height" style="flex-direction: row;">
        <div class="modal-sidebar">
          {% include "history/modal/sidebar.html" %}
        </div>
        <div class="modal-main" id="modal-main2">
          {% include "history/modal/detail-content.html" %}
        </div>
      </div>
    </div>
  </div>