{% load static %}
<div class="modal-register-list">
    <!-- <div class="modal-large-text modal-empty"> No Information</div> -->
    <div class="table-register-list">
        <h2 style="color: white; padding: 20px;">
            activity-policy-mgr
        </h2>
        <div class="table-area-wrapper table-view table-ml-view table-no-scrollbar">
            <div class="table-header">
                <div class="table-cell no-flex date-cell">Date</div>
                <div class="table-cell no-flex small-tag-cell">Tag</div>
                <div class="table-cell no-flex page-link-cell">Gerrit</div>
                <div class="table-cell no-flex page-link-cell">Jira</div>
                <div class="table-cell no-flex official-cell">Official</div>
                <div class="table-cell no-flex full-name-cell">Owner</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
            <div class="table-row">
                <div class="table-cell no-flex date-cell">23.01.12</div>
                <div class="table-cell no-flex small-tag-cell">submissions/123</div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex page-link-cell"><i class="fas fa-link"></i></div>
                <div class="table-cell no-flex official-cell">webos4tv_585</div>
                <div class="table-cell no-flex full-name-cell">홍길동 선임연구원</div>
            </div>
        </div>
    </div>
</div>