{% load static %}
  <div class="modal-sidebar-menu">
    <div class="modal-sidebar-header">
      <div class="project-name"> Branch List </div>
    </div>
    <ul class="modal-sidebar-body" id="modal-sidebar">
      <li class="active" id="history-webos4tv">
        <i class="fa-solid fa-circle"></i>
        <span> @webos4tv </span>
      </li>
      <li id="history-mlt4tv">
        <i class="fa-solid fa-circle"></i>
        <span> @mlt4tv </span>
      </li>
      <li id="history-nbr4tv">
        <i class="fa-solid fa-circle"></i>
        <span> @nbr4tv </span>
      </li>
    </ul>
  </div>