
.modal-left {
    min-width: 50%;
    max-width: 50%;
    float: left;
}
.modal-right {
    min-width: 50%;
    max-width: 50%;
    float: right;
}

.modal-sidebar {
    float: left;
    width: 30%;
    height: 100%;
}

.modal-main {
    float: right;
    width: 70%;
    height: 100%;
}

.modal-main.no-sidebar {
    width: 100% !important;
    min-height: 500px;
    max-height: 100%;
}

.title-container {
    position: relative;
}

.modal-content-custom {
    background-color: var(--app-bg);
    border-radius: 15px;
}

.modal-header-custom {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.modal-footer-custom {
    border-top: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
} */

.modal-text-color {
    color: white;
}

.modal-header button:focus {
    border: none;
    outline:none;
}