.modal-large-text {
    font-size: 3.6em;
    font-weight: 500;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: red;
}

.modal-empty:before {
    content: "";
    background-image: url("../../../static/image/sleep_binbird.png");
    background-size:cover;
    position: absolute;
    width: 120px;
    height: 120px;
    right: calc(50% - 250px);
    bottom: 49.5%;
    transform: rotate(10deg);
}

.modal-no-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-left {
    min-width: 50%;
    max-width: 50%;
    float: left;
}
.modal-right {
    min-width: 50%;
    max-width: 50%;
    float: right;
}

.modal-sidebar {
    float: left;
    width: 200px;
    height: 100%;
}

.modal-main {
    float: right;
    width: calc(100% - 200px);
    height: 80vh;
}

.modal-main.no-sidebar {
    width: 100% !important;
}

.title-container {
    position: relative;
}

.modal-content-custom {
    background-color: var(--app-bg);
    border-radius: 15px;
}

.fix-content-height {
    min-height: 80vh !important;
    max-height: 80vh !important;
}

.modal-header-custom {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    height: 150px !important;
}

.modal-small-body {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-small-body::-webkit-scrollbar {
    display: none;
}

.fix-body-height {
    height: calc(80vh - 210px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.fix-body-height::-webkit-scrollbar {
    display: none;
}

.modal-footer-custom {
    height: 60px !important;
    border-top: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
} */

.modal-text-color {
    color: white;
}

.modal-header button:focus {
    border: none;
    outline:none;
}