<div class="timeline-container">
  <div class="timeline">
    <div class="timeline-month">January, 2023</div>
    <div class="timeline-section">
      <div class="timeline-date">10, Tuesday</div>
      <div class="timeline-box" style="margin-bottom: 25px">
        <div class="box-title">
          <i class="fa fa-asterisk text-success" aria-hidden="true"></i
          ><b> 메인진행자 </b>
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
      <div class="timeline-box">
        <div class="box-title">
          <i class="fa fa-tasks text-primary" aria-hidden="true"></i>후보 진행자(1)
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
      <div class="timeline-box">
        <div class="box-title">
          <i class="fa fa-tasks text-primary" aria-hidden="true"></i>후보 진행자(2)
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
      <div class="timeline-box">
        <div class="box-title">
          <i class="fa fa-tasks text-primary" aria-hidden="true"></i>후보 진행자(2)
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
      <div class="timeline-box">
        <div class="box-title">
          <i class="fa fa-tasks text-primary" aria-hidden="true"></i>후보 진행자(2)
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
      <div class="timeline-box">
        <div class="box-title">
          <i class="fa fa-tasks text-primary" aria-hidden="true"></i>후보 진행자(2)
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
      <div class="timeline-box">
        <div class="box-title">
          <i class="fa fa-tasks text-primary" aria-hidden="true"></i>후보 진행자(2)
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
      <div class="timeline-box">
        <div class="box-title">
          <i class="fa fa-tasks text-primary" aria-hidden="true"></i>후보 진행자(2)
        </div>
        <div class="box-content">
          <div class="box-item"><strong>Name</strong>- 최민재 연구원</div>
          <div class="box-item">
            <strong>Department</strong>- TV Broadcast Solution팀
          </div>
          <div class="box-item">
            <strong>E-mail</strong>- minjae.choi@lge.com
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
