<i class="fa fa-edit" data-tooltip-text="Modify CCC Time" style="color: #fff"></i>
<i class="fa fa-folder-open" data-tooltip-text="Add Module" style="color: #fff"></i>
<i class="fa fa-play" data-tooltip-text="Start CCC" style="color: #fff"></i>
<i class="fa fa-paper-plane" data-tooltip-text="Send Notice" style="color: #fff"></i>
<i class="fa fa-trash-alt" data-tooltip-text="Remove CCC" style="color: #fff"></i>
<p>Gerrit Status</p>
<p>Gerrit Progressbar</p>
<p>Jira Status</p>
<p>Jira Progressbar</p>
<p>EPK</p>
<p>Test Information</p>
