
<div class="button-container">
<ul class="wrapper" style="justify-content: center; align-items: center;">
  <li class="icon facebook" data-toggle="modal" data-target="#schedule-modal">
    <span class="tooltip top">Change&nbsp;CCC&nbsp;Time</span>
    <span><i class="fas fa-calendar-alt"></i></span>
  </li>
  <li class="icon twitter" data-toggle="modal" data-target="#register-modal">
    <span class="tooltip top">Register&nbsp;Module</span>
    <mark class="rubberBand blue">99</mark>
    <span><i class="fa fa-folder-open"></i></span>
  </li>
  <li class="icon instagram">
    <span class="tooltip top">Start&nbsp;CCC</span>
    <span><i class="fa fa-play"></i></span>
  </li>
  <li class="icon github">
    <span class="tooltip top">Send&nbsp;Notice</span>
    <span><i class="fa fa-paper-plane"></i></span>
  </li>
  <li class="icon youtube">
    <span class="tooltip top">Remove&nbsp;CCC</span>
    <span><i class="fa fa-trash-alt"></i></span>
  </li>
</ul>
<ul class="wrapper" style="justify-content: center; align-items: center;">
  <li class="icon facebook">
    <span class="tooltip top">Edit&nbsp;Commit&nbsp;Message</span>
    <span><i class="fa fa-edit"></i></span>
  </li>
  <li class="icon twitter">
    <span class="tooltip top">Show&nbsp;EPK</span>
    <mark class="rubberBand blue">99</mark>
    <span><i class="far fa-images"></i></span>
  </li>
  <li class="icon instagram">
    <span class="tooltip top">Test&nbsp;Information</span>
    <mark class="rubberBand">99</mark>
    <span><i class="fas fa-list-ul"></i></span>
  </li>
  <li class="icon github">
    <span class="tooltip top">Show&nbsp;CABS&nbsp;Log</span>
    <span><i class="fab fa-sistrix"></i></span>
  </li>
  <li class="icon youtube">
    <span class="tooltip top">Done&nbsp;CCC</span>
    <span><i class="fas fa-user-check"></i></span>
  </li>
</ul>
</div>
