
<div class="button-container">
<ul class="wrapper">
  <li class="icon facebook" data-toggle="modal" data-target="#exampleModalCenter">
    <span class="tooltip">Modify&nbsp;CCC&nbsp;Time</span>
    <span><i class="fas fa-calendar-alt"></i></span>
  </li>
  <li class="icon twitter">
    <span class="tooltip">Add&nbsp;Module</span>
    <mark class="rubberBand blue">99</mark>
    <span><i class="fa fa-folder-open"></i></span>
  </li>
  <li class="icon instagram">
    <span class="tooltip">Start&nbsp;CCC</span>
    <span><i class="fa fa-play"></i></span>
  </li>
  <li class="icon github">
    <span class="tooltip">Send&nbsp;Notice</span>
    <span><i class="fa fa-paper-plane"></i></span>
  </li>
  <li class="icon youtube">
    <span class="tooltip">Remove&nbsp;CCC</span>
    <span><i class="fa fa-trash-alt"></i></span>
  </li>
</ul>
<ul class="wrapper">
  <li class="icon facebook" data-toggle="modal" data-target="#exampleModalCenter">
    <span class="tooltip">Edit&nbsp;Commit&nbsp;Message</span>
    <span><i class="fa fa-edit"></i></span>
  </li>
  <li class="icon twitter">
    <span class="tooltip">Show&nbsp;EPK</span>
    <mark class="rubberBand green">99</mark>
    <span><i class="far fa-images"></i></span>
  </li>
  <li class="icon instagram">
    <span class="tooltip">Test&nbsp;Information</span>
    <mark class="rubberBand">99</mark>
    <span><i class="fas fa-list-ul"></i></span>
  </li>
  <li class="icon github">
    <span class="tooltip">Show&nbsp;CABS&nbsp;Log</span>
    <span><i class="fab fa-sistrix"></i></span>
  </li>
  <li class="icon youtube">
    <span class="tooltip">Done&nbsp;CCC</span>
    <span><i class="fas fa-user-check"></i></span>
  </li>
</ul>
</div>
