{% load static %}

<div class="container">
  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@webos4tv</h3>
        <div class="assignee"> 홍길동 연구원 </div>
        <div class="description">
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
          <p class="bubble-message">In Progress</p>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
    {% include 'dashboard/modal/modify_modal.html' %}
  </div>

  <div class="card error">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@4.kinglake</h3>
        <div class="assignee"> 홍길동 선임연구원 </div>
        
        <div class="description">
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card done">
    <div class="box mebbin front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@mebbin</h3>
        <div class="assignee"> 홍길동 책임연구원 </div>
        
        <div class="description">
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box mebbin back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box back">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@maria</h3>
        <div class="assignee"> 홍길동 책임연구원 </div>

        <div class="description">
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box front">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@naejangsan</h3>
        <div class="assignee"> 홍길동 연구원 </div>
        
        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@4.kinglake</h3>
        <div class="assignee"> 홍길동 선임연구원 </div>
        
        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@mebbin</h3>
        <div class="assignee"> 홍길동 책임연구원 </div>
        
        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@maria</h3>
        <div class="assignee"> 홍길동 책임연구원 </div>

        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@naejangsan</h3>
        <div class="assignee"> 홍길동 연구원 </div>
        <div class="description"></div>
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@4.kinglake</h3>
        <div class="assignee"> 홍길동 선임연구원 </div>
        
        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@mebbin</h3>
        <div class="assignee"> 홍길동 책임연구원 </div>
        
        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@maria</h3>
        <div class="assignee"> 홍길동 책임연구원 </div>

        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box front">
      <div class="content">
        <h4>2022.12.12</h4>
        <h5>10:00 AM</h5>
        <h3>@maria</h3>
        <div class="assignee"> 홍길동 책임연구원 </div>

        <div class="description">          
          {% include "dashboard/traffic.html" %}
          <i class="fa-solid fa-bus move"></i>
          <div class="progressbar"></div>
        </div>
      </div>
    </div>
    <div class="box back">
      <div class="content">
        {% include "dashboard/back_card.html" %}
      </div>
    </div>
  </div>
  
</div>