<div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          <h4>2022.12.12</h4>
          <h3>@webos4tv</h3>
          <p>22.12.12 10:00AM</p>
          <p>최민재 연구원</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h4>2022.12.02</h4>
          <h3>@nbr4tv</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h4>2022.11.12</h4>
          <h3>@marine</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="box">
          <div class="content">
            <h4>2022.11.25</h4>
            <h3>@naejangsan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <div class="content">
            <h4>2022.11.08</h4>
            <h3>@mlt4tv</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <div class="content">
            <h4>2022.10.09</h4>
            <h3>@kinglake</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <div class="content">
            <h4>2022.09.12</h4>
            <h3>@webos4tv</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
  </div>