{% load static %}
<div class="body-container">
  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
      {% include "dashboard/button.html" %}
      {% include "dashboard/ticket.html" %}
    </div>
  </div>

  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
        {% include "dashboard/button.html" %}
        {% include "dashboard/ticket.html" %}
    </div>
  </div>

  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
        {% include "dashboard/button.html" %}
        {% include "dashboard/ticket.html" %}
    </div>
  </div>

  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
        {% include "dashboard/button.html" %}
        {% include "dashboard/ticket.html" %}
    </div>
  </div>

  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
        {% include "dashboard/button.html" %}
        {% include "dashboard/ticket.html" %}
    </div>
  </div>

  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
        {% include "dashboard/button.html" %}
        {% include "dashboard/ticket.html" %}
    </div>
  </div>

  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
        {% include "dashboard/button.html" %}
        {% include "dashboard/ticket.html" %}
    </div>
  </div>
  <div class="card">
    <div class="card-box front">
        <div class="card-information">
          <div class="start-date">2022.12.12</div>
          <div class="start-time">10:00 AM</div>
          <div class="branch">@webos4tv</div>
          <div class="assignee"> 홍길동 연구원 </div>
        </div>
        <div class="card-status">
          {% include "dashboard/tag.html" %}
          {% include "dashboard/traffic.html" %}
          {% include "dashboard/progress.html" %}
        </div>
      </div>
    <div class="card-box back">
        {% include "dashboard/button.html" %}
        {% include "dashboard/ticket.html" %}
    </div>
  </div>
</div>