<div class="page-container">
    <a class="page-card" href="https://www.naver.com" target="_blank">
      <h3 class="hidden">Go to</h3>
      <h3>Gerrit</h3>
      <p>Building</p>
      <div class="pic"></div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <button>
      </button>
    </a>
    <a class="page-card" href="https://www.naver.com" target="_blank">
        <h3 class="hidden">Go to</h3>
        <h3>Jira</h3>
        <p>Approval</p>
        <div class="pic"></div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <button>
        </button>
    </a>
  </div>