<div class="card-status-item-container">
    <div class="card-status-item line">
        <div class="ccc"></div>
        <div class="item-category"> CCC </div>
        <span class="chip primary"> In Progress </span>
    </div>
    <div class="card-status-item line">
        <div class="gerrit"></div>
        <div class="item-category"> Gerrit </div>
        <span class="chip danger">Static Analysis</span>
    </div>
    <div class="card-status-item">
        <div class="jira"></div>
        <div class="item-category">Jira </div>
        <span class="chip primary">Draft</span>
    </div>
</div>