<div class="card-status-item-container">
    <div class="card-status-item line">
        <div class="item-category"> CCC </div>
        <span class="badge primary"> In Progress </span>
    </div>
    <div class="card-status-item line">
        <div class="item-category"> Gerrit </div>
        <span class="badge danger">Static Analysis</span>
    </div>
    <div class="card-status-item">
        <div class="item-category">Jira </div>
        <span class="badge primary">Draft</span>
    </div>
</div>