<div class="ticket-container">
  <a class="ticket-card" href="https://www.naver.com" target="_blank">
    <div class="hidden ticket-text">Go to</div>
    <div class="ticket-text">Gerrit</div>
    <p>Building</p>
    <div class="pic"></div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <button>
    </button>
  </a>
  <a class="ticket-card" href="https://www.naver.com" target="_blank">
    <div class="hidden ticket-text">Go to</div>
    <div class="ticket-text">Jira</div>
    <p>Draft</p>
    <div class="pic"></div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <button>
    </button>
  </a>
</div>