<ul class="wrapper">
    <li class="icon facebook" style="background: #1877F2; color: #ffffff;">
        <span class="tooltip bottom">Create&nbsp;CCC</span>
        <span><i class="fa-solid fa-plus" style="font-size: 25px;"></i></span>
    </li>
    <li class="icon facebook" style="background: #1877F2; color: #ffffff;">
        <span class="tooltip bottom">Apply&nbsp;Filter</span>
        <span><i class="fa-solid fa-filter" style="font-size: 20px"></i></span>
    </li>
    <li class="icon reserved" style="background: #404040; color: #a5a5a5;">
        <span class="tooltip bottom">Reserved</span>
        <span><i class="fa-solid fa-ellipsis" style="font-size: 20px"></i></span>
    </li>
    <li class="icon youtube" style="background: #CD201F; color: #ffffff;">
        <span class="tooltip bottom">Logout</span>
        <span><i class="fa-solid fa-right-from-bracket" style="font-size: 20px"></i></span>
    </li>
</ul>