<div class="board-container">
  <div class="board-head">
    <h1 style="color: white; margin: 50px 0px 20px 30px; display: inline-block">
      Develop Notes
    </h1>
    <div
      class="board-button-container"
      style="display: inline-block; margin-left: 15px"
    >
      <ul class="wrapper">
        <li
          class="icon facebook"
          style="background: #1877f2; color: #ffffff"
          data-toggle="modal"
          data-target="#write-modal"
        >
          <span class="tooltip top">Writing</span>
          <span
            ><i class="fa-solid fa-pen-to-square" style="font-size: 20px"></i
          ></span>
        </li>
        <li class="icon reserved" style="background: #404040; color: #a5a5a5">
          <span class="tooltip top">Reserved</span>
          <span
            ><i class="fa-solid fa-ellipsis" style="font-size: 20px"></i
          ></span>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="table-area-wrapper table-view table-large-view table-no-scrollbar"
    style="width: 95%; margin: auto"
  >
    <div class="table-header">
      <div class="table-cell no-flex date-cell">Date</div>
      <div class="table-cell no-flex small-status-cell">Status</div>
      <div class="table-cell no-flex category-cell">Category</div>
      <div class="table-cell no-flex summary-cell">Summary</div>
      <div class="table-cell no-flex full-name-cell">Developer</div>
      <div class="table-cell no-flex views-cell">Views</div>
    </div>
    <div class="table-row">
      <div class="table-cell no-flex date-cell">23.01.12 20:43</div>
      <div class="table-cell no-flex small-status-cell">
        <span class="status pass">Complete</span>
      </div>
      <div class="table-cell no-flex category-cell">Notice</div>
      <div class="table-cell no-flex summary-cell">서버 안정화 작업 진행</div>
      <div class="table-cell no-flex full-name-cell">최민재 연구원</div>
      <div class="table-cell no-flex views-cell">10241940</div>
    </div>
    <div class="table-row">
      <div class="table-cell no-flex date-cell">23.01.11 20:43</div>
      <div class="table-cell no-flex small-status-cell">
        <span class="status pass">Complete</span>
      </div>
      <div class="table-cell no-flex category-cell">Bug Fix</div>
      <div class="table-cell no-flex summary-cell">버그 개선</div>
      <div class="table-cell no-flex full-name-cell">최민재 연구원</div>
      <div class="table-cell no-flex views-cell">1</div>
    </div>
    <div class="table-row">
      <div class="table-cell no-flex date-cell">23.01.10 20:43</div>
      <div class="table-cell no-flex small-status-cell">
        <span class="status pass">Complete</span>
      </div>
      <div class="table-cell no-flex category-cell">Patch Note</div>
      <div class="table-cell no-flex summary-cell">패치 노트</div>
      <div class="table-cell no-flex full-name-cell">최민재 연구원</div>
      <div class="table-cell no-flex views-cell">1124</div>
    </div>
  </div>
</div>
